PORT=9110
ASSETS_PATH=./assets
TEMPLATES_PATH=./templates
OUTPUT_PATH=./output
LOG_LEVEL=info

# Monday.com - subida de PDF generado
MONDAY_API_KEY=
MONDAY_BOARD_ID=18403483965
MONDAY_FILE_COLUMN_ID=file_mm1bxc89
